.container1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 864px;
  a{
    text-decoration: none;
  }
}
@media (max-width: 960px) {
  .container{
    width: 648px;
  }
}
@media (max-width: 720px) {
  .container{
    width: 432px;
  }
}
@media (max-width: 540px) {
  .container{
    width: 216px;
  }

}