.container{
  background: #FFFFFF;
  box-shadow: 0 2px 42px rgba(0, 0, 0, 0.111233);
  border-radius: 7px;
  width: max-content;
  margin: auto;
  padding: 24px;
  box-sizing: border-box;
}
.title{
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  line-height: 25px;
  color: #282828;
  text-align: center;
  margin-bottom: 32px;
}
