.textarea{
  padding: 17px 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 22px;
  width: 100%;
  height: 55px;
  border: 1px solid #E9EBF2;
  box-sizing: border-box;
  resize: none;
  color: #000;
  overflow: hidden;
  /* identical to box height, or 169% */
  ::placeholder{
    color: #97A3B4;
  }


}
.containerMessage{
  width: 100%;
}