
.container1{
   display: flex;
   justify-content: center;
   align-items: center;
 }
.container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 864px;
  a{
    text-decoration: none;
  }
}