.haveAccount{
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.4px;

  color: #2A2A2A;
  a{
    text-transform: uppercase;
    text-decoration: none;
  }
}