.input{
  background: #F9FAFB;
  border: 1px solid #DEDEE0;
  box-sizing: border-box;
  border-radius: 5px;
  width: 143px;
  height: 35px;
  padding: 10px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  letter-spacing: 0.35px;

  color: #505050;
}