.restorePassword{
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  text-decoration: none;
  text-align: end;
  letter-spacing: 0.4px;

  a{
    color: #8C8C8C;
    text-decoration: none;
  }
}