.title{
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 24px;
  margin-top: 16px;
  color: #282828;
}
.container{
  width: 60%;
  margin: auto;
  height: max-content;
  max-width: 664px;
}